parameters:
    level: max
    paths:
        - config
        - src
        - tests
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::#'
        - '#Access to an undefined property JnJairo\\Laravel\\EloquentCast\\Tests\\Fixtures\\DummyModel::#'
        - '#Call to an undefined method JnJairo\\Laravel\\EloquentCast\\Tests\\Fixtures\\DummyModel::#'
        - '#Call to an undefined method Pest\\Expectation\\|Pest\\Support\\Extendable::#'
        - '#Call to protected method .* of class Orchestra\\Testbench\\TestCase#'
        - '#If condition is always true#'
        - '#Variable \$deprecated in empty\(\) always exists and is not falsy#'
